<p>add-email-admin works!</p>
{{pname}}
<div class="container">
  <!-- <form class="login-form" [formGroup]="formsgroup" (ngSubmit)="onSubmit(formsgroup.value)" role="form">
    <div class="horizontal-formr">
    <mat-form-field hintLabel="Max 10 characters" appearance="fill">
      <mat-label>Enter some input</mat-label>
      <input matInput #input maxlength="10" placeholder="Ex. Nougat">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select me</mat-label>
      <mat-select>
        <mat-option value="option">Option</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
    </div>
</form> -->

<mat-card class="example-card">
  <div class="example-container">
    <form [formGroup]="formsgroup">
      <mat-checkbox >Hide required marker</mat-checkbox>
      <div>
        <label>Float label: </label>
        <mat-radio-group >
          <mat-radio-button value="auto">Auto</mat-radio-button>
          <mat-radio-button value="always">Always</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="fill"
         >
        <input matInput placeholder="Simple placeholder" required>
      </mat-form-field>

      <mat-form-field appearance="fill" >
        <mat-label>Both a label and a placeholder</mat-label>
        <input matInput placeholder="Simple placeholder">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-select required>
          <mat-option>-- None --</mat-option>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-label><mat-icon>favorite</mat-icon> <b> Fancy</b> <i> label</i></mat-label>
      </mat-form-field>
    </form>
  </div>
</mat-card>

</div>
