<p>add-email-admin works!</p>
{{pname}}

<mat-card class="example-card">
  <form [formGroup]="formsgroup" (ngSubmit)="onSubmit(formsgroup.value)" role="form">
    <div class="example-container">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput #input formControlName="firstname" placeholder="First Name" required >
        <mat-error *ngIf="formsgroup.get('firstname').touched && formsgroup.get('firstname').hasError('required')">
          Please Enter Firstname
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput #input formControlName="lastname" placeholder="Last Name" required >
        <mat-error *ngIf="formsgroup.get('lastname').touched && formsgroup.get('lastname').hasError('required')">
          Please Enter Lastname
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="dob" placeholder="Date of Birth" required >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="formsgroup.get('dob').touched && formsgroup.get('dob').hasError('required')">
          Please Enter Date of Birth
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container-address">
      <mat-form-field class="example-full-width">
        <mat-label>Address 1</mat-label>
        <input matInput #input formControlName="homeaddress1" placeholder="Home Address 1" required >
        <mat-error *ngIf="formsgroup.get('homeaddress1').touched && formsgroup.get('homeaddress1').hasError('required')">
          Please Enter Address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container-address">
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <input matInput #input formControlName="homeaddress2" placeholder="Home Address 2" required >
        <mat-error *ngIf="formsgroup.get('homeaddress2').touched && formsgroup.get('homeaddress2').hasError('required')">
          Please Enter Address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container-address">
      <mat-form-field class="example-full-width">
        <mat-label>Address 3</mat-label>
        <input matInput #input formControlName="homeaddress3" placeholder="Home Address 3" required >
        <mat-error *ngIf="formsgroup.get('homeaddress3').touched && formsgroup.get('homeaddress3').hasError('required')">
          Please Enter Address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Pincode</mat-label>
        <input matInput  maxlength=6 #input m formControlName="pincode" placeholder="Pincode" required >
        <mat-error *ngIf="formsgroup.get('pincode').touched && formsgroup.get('pincode').hasError('required')">
          Please Enter Pincode
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cityname</mat-label>
        <input matInput #input formControlName="cityname" placeholder="City Name" required >
        <mat-error *ngIf="formsgroup.get('cityname').touched && formsgroup.get('cityname').hasError('required')">
          Please Enter Cityname
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container-address">
      <mat-form-field class="example-full-width">
        <mat-label>University Name</mat-label>
        <input matInput #input formControlName="university" placeholder="University Name" required >
        <mat-error *ngIf="formsgroup.get('university').touched && formsgroup.get('university').hasError('required')">
          Please Enter University
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Degree Name</mat-label>
        <input matInput #input formControlName="degreename" placeholder="Degree Name" required >
        <mat-error *ngIf="formsgroup.get('degreename').touched && formsgroup.get('degreename').hasError('required')">
          Please Enter Degree Name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passout Year</mat-label>
        <input matInput maxlength=4 #input formControlName="passoutyear" placeholder="Passyear" required >
        <mat-error *ngIf="formsgroup.get('passoutyear').touched && formsgroup.get('passoutyear').hasError('required')">
          Please Enter Passout year
        </mat-error>
      </mat-form-field>
    </div>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" minlength=8 #input formControlName="password" placeholder="Password" required >
        <mat-error *ngIf="formsgroup.get('password').touched && formsgroup.get('password').hasError('required')">
          Please Enter Password more than 8 digit
        </mat-error>
        <mat-error *ngIf="!formsgroup.get('password').hasError('minLength') && formsgroup.get('password').touched">
          Password should be more than 8 digit
        </mat-error>
        <mat-error *ngIf="formsgroup.get('password').touched && !formsgroup.get('password').hasError('maxLength')">
          Password should be less than 20 digit
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Re-Password</mat-label>
        <input matInput type="password" #input formControlName="repassword" placeholder="Re-Password" required >
        <mat-error *ngIf="formsgroup.get('repassword').touched && formsgroup.get('repassword').hasError('required')">
          Please Enter Password more than 8 digit
        </mat-error>
        <mat-error *ngIf="!formsgroup.get('repassword').hasError('minLength') && formsgroup.get('repassword').touched">
          Password should be more than 8 digit
        </mat-error>
        <mat-error *ngIf="formsgroup.get('repassword').touched && !formsgroup.get('repassword').hasError('maxLength')">
          Password should be less than 20 digit
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="example-container-address">
      <mat-label>Email</mat-label>
      <input matInput formControlName="emailid" placeholder="Ex. pat@example.com" required >
      <mat-error *ngIf="formsgroup.get('emailid').touched && formsgroup.get('emailid').hasError('required')">
        Please enter mail id
      </mat-error>
      <mat-error *ngIf="formsgroup.get('emailid').touched && formsgroup.get('emailid').hasError('email')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="example-container">
      <mat-form-field class="example-full-width">
        <mat-label>Mobile No.</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" maxlength=10 formControlName="contactno" matInput placeholder="555-555-1234" required >
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="formsgroup.get('contactno').touched && formsgroup.get('contactno').hasError('required')">
          Please enter contact no
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Alternet Mobile Number</mat-label>
        <span matPrefix>+91 &nbsp;</span>
        <input type="tel" formControlName="reffcontno" matInput placeholder="555-555-1234" required >
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="formsgroup.get('reffcontno').touched && formsgroup.get('reffcontno').hasError('required')">
          Please enter contact no
        </mat-error>
      </mat-form-field>

    </div>
    <div class="example-button-row">
      <mat-checkbox class="example-margin" formControlName="policyaccept">Policy </mat-checkbox>
      <br>
      <br>
      <button mat-raised-button color="primary" [disabled]="!formsgroup.valid">Submit</button>
    </div>
  </form>
</mat-card>
