<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >AvDocs</span>
            <button mat-button [matMenuTriggerFor]="animals">Menu</button>
        <mat-menu #animals="matMenu">
            <div *ngIf="role === 'admin'">
                <button mat-menu-item [matMenuTriggerFor]="opd">OPD</button>
            </div>
            <button mat-menu-item [matMenuTriggerFor]="administration">Administration</button>
        </mat-menu>

        <mat-menu #opd="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
            <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
            <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
            <button mat-menu-item [routerLink]="['/opdTodayappointment']" routerLinkActive="router-link-active" >Todays Appointments</button>
            <button mat-menu-item [routerLink]="['/opdnewappointment']" routerLinkActive="router-link-active" >New Appointment</button>
            <button mat-menu-item [routerLink]="['/opdhisappointment']" routerLinkActive="router-link-active" >Appointment History</button>
        </mat-menu>
        <mat-menu #administration="matMenu">
          <div *ngIf="checksrights('adduser')">
            <button mat-menu-item [routerLink]="['/UserManagement']" routerLinkActive="router-link-active" >User Management</button>
          </div>
          <div *ngIf="checksrights('addclinic')">
            <button mat-menu-item [routerLink]="['/ClinicManagement']" routerLinkActive="router-link-active" >Clinic Management</button>
          </div>
          <div *ngIf="checksrights('rights')">
            <button mat-menu-item [routerLink]="['/rightsmanagement']" routerLinkActive="router-link-active" >Right Management</button>
          </div>
        </mat-menu>

        <mat-menu #fish="matMenu">
            <button mat-menu-item>Baikal oilfish</button>
            <button mat-menu-item>Bala shark</button>
            <button mat-menu-item>Ballan wrasse</button>
            <button mat-menu-item>Bamboo shark</button>
            <button mat-menu-item>Banded killifish</button>
        </mat-menu>

        <mat-menu #amphibians="matMenu">
            <button mat-menu-item>Sonoran desert toad</button>
            <button mat-menu-item>Western toad</button>
            <button mat-menu-item>Arroyo toad</button>
            <button mat-menu-item>Yosemite toad</button>
        </mat-menu>

        <mat-menu #reptiles="matMenu">
            <button mat-menu-item>Banded Day Gecko</button>
            <button mat-menu-item>Banded Gila Monster</button>
            <button mat-menu-item>Black Tree Monitor</button>
            <button mat-menu-item>Blue Spiny Lizard</button>
            <button mat-menu-item disabled>Velociraptor</button>
        </mat-menu>

        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
