/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.submit button,
.submit a {
   margin-right: 8px;
}


.default-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.default-form .hori {
  margin-left: 8px;
}


.default-input {
  width: 100%;
}